<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h2>Nouveau post </h2>
			<form [formGroup]="newPostForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="title">Titre</label>
			<input type="text" id="title" class="form-control" formControlName="title">
		</div>
		<div class="form-group">
			<label for="contenu">Contenu</label><br/>
			<textarea class="col-sm-12" formControlName="contenu"></textarea>
		</div><br /><br/>
		<button class="btn btn-primary" type="submit" [disabled]="newPostForm.invalid" >Publier</button>
  </form>
</div>
</div>

