	<li [ngClass]="{'list-group-item': true,
				'list-group-item-success': onNombreOui() > onNombreNon(),
				'list-group-item-danger' : onNombreOui() < onNombreNon()}">
		<strong><span class="tittre">{{titlePost}} : </span></strong>
		{{ created_at | date : 'short' }}<br/>
		{{content}}<br/>
		<!--ici je cree un evenement qui va augementer le nombre de "oui" a chaque clique"-->
		<button class="btn btn-success" (click) = "onNombreOui()">
		love it
		</button>
		<!--ici je cree un evenement qui va augementer le nombre de "Non" a chaque clique"-->
		<button class="btn btn-danger" (click) ="onNombreNon()">
		don't love it
		</button> 
	</li>
